SimpleTasks/SampleData/RoundTimePickerDataSource/RoundTimePickerDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.RoundTimePickerDataSource" targetNamespace="Expression.Blend.SampleData.RoundTimePickerDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RoundTimePickerDataSource" type="tns:RoundTimePickerDataSource" />
  <xs:complexType name="RoundTimePickerDataSource">
    <xs:attribute blend:FormatParameters="2" name="HoursText" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="Minutes" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,3" name="AmPmText" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="MinutesAngle" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="HoursAngle" type="xs:double" />
  </xs:complexType>
</xs:schema>