SimpleTasks/SampleData/SubtasksDataSource/SubtasksDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SubtasksDataSource" targetNamespace="Expression.Blend.SampleData.SubtasksDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubtasksDataSource" type="tns:SubtasksDataSource" />
  <xs:complexType name="SubtasksDataSource">
    <xs:sequence>
      <xs:element name="Subtasks" type="tns:Subtasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Subtasks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SubtasksItem" type="tns:SubtasksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubtasksItem">
    <xs:attribute name="IsCompleted" type="xs:boolean" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Text" type="xs:string" />
  </xs:complexType>
</xs:schema>