SimpleTasks/SampleData/EditDataSource/EditDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.EditDataSource" targetNamespace="Expression.Blend.SampleData.EditDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EditDataSource" type="tns:EditDataSource" />
  <xs:complexType name="EditDataSource">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="19,8" name="Detail" type="xs:string" />
  </xs:complexType>
</xs:schema>